<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><i class="fa fa-home"></i> ${i18n("header.title")}</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/customers/">${i18n("header.customers")}</a></li>
				<li><a href="/invoices/">${i18n("header.invoices")}</a></li>
				<li><a href="/marketing/">${i18n("header.marketing")}</a></li>
				<li><a href="/parts/">${i18n("header.parts")}</a></li>
				<li><a href="/sales/">${i18n("header.sales")}</a></li>
				<li><a href="/vehicles/">${i18n("header.vehicles")}</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li><a href="/settings/">${i18n("header.settings")}</a></li>
				<li><a href="/signout/">${i18n("header.signout")}</a></li>
			</ul>
		</div>
		<!--/.navbar-collapse -->
	</div>
</div>