<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Invoices">    


<a href="/invoices/new" class="btn btn-primary" role="button">Add Invoice</a>

<#if invoices??>
<table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
         
    
    <#list invoices as invoice>
        <tr>
            <td><a href="/invoices/${invoice.invoiceNumber}">${invoice.invoiceNumber}</a></td>
            <td>${invoice.created?datetime}</td>
            <td>${invoice.updated?datetime}</td>
            <td><span class="label label-info">${invoice.status}</span></td>
            <td>
               <form action="/invoices/${invoice.invoiceNumber}/delete"  method="POST">
                 <input type="submit" value="Delete" class="btn btn-danger pull-right" />
              </form>
            </td>
          </tr>
        <h3>
                
        </h3>  
    </#list>
        </tbody>
      </table>
    
</#if>

</@layout.myLayout>