<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "New Invoice">

<div class="container">

    <h1>New Invoice</h1>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-8">
            <form action="/invoices/" method="post" class="form-horizontal" role="form">

                <div class="form-group">
                    <label for="invoiceNumber" class="col-lg-2 control-label">Invoice Number</label>
                    <div class="col-lg-10">
                        <input type="text" name="invoiceNumber" id="number" value="${(flash.invoiceNumber!)}"  class="form-control"/>
                    </div>
                </div>

                <input type="submit" value="Create Invoice" class="btn btn-success pull-right" />

            </form>

        </div>

    </div>
</div>


</@layout.myLayout>