<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "New Invoice">

<div class="container">

    <h1>New Invoice</h1>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-8">
            <form action="/invoices/" method="post" class="form-horizontal" role="form">

                <div class="form-group">
                    <label for="title" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                        <input type="text" name="title" id="title" value=""  class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="content" class="col-lg-2 control-label">Content</label>
                    <div class="col-lg-10">
                        <textarea name="content" class="form-control" id="content">${(flash.content!"")}</textarea>
                    </div>
                </div>

                <input type="submit" value="Create Invoice" class="btn btn-success pull-right" />

            </form>

        </div>

    </div>
</div>


</@layout.myLayout>